Repository Quantco/pixi-pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

.pre-commit-config.yaml:

exclude: (^env/|.pixi/)
repos:
  - repo: local
    hooks:
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: src/header.sh
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # cargo fmt and clippy
      - id: cargo-fmt
        name: cargo-fmt
        entry: pixi run -e default cargo fmt --
        language: system
        require_serial: false
        types: [rust]
      - id: cargo-clippy
        name: cargo-clippy
        entry: pixi run -e default cargo clippy --all-targets --all-features --workspace -- -D warnings
        pass_filenames: false
        language: system
        require_serial: false
        types: [rust]
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer

add to readme
  README.md
Due: prettier, end-of-file-fixer

fixed bug with url function
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

remove trailing whitespace
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

reformat
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

implementing requests on PR
  README.md
  src/main.rs
  src/pack.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy

fix typos
  src/main.rs
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Update src/pack.rs
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Added test
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

pin clap_complete version, rename completions to completion
  Cargo.toml
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

add updated cargo.lock
  Cargo.lock
Due: end-of-file-fixer

fix
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

feat: add shell completion (#155)
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Apply suggestions from code review
  README.md
  src/main.rs
  src/pack.rs
  tests/integration_test.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy

implemented suggestions
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fixing test for platform
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

ci: Generate hashes for SLSA (#153)
  .github/workflows/build.yml
  .typos.toml
  README.md
Due: prettier, end-of-file-fixer, taplo

chore: Comment out Cargo.lock in gitignore
  .gitignore
Due: end-of-file-fixer

chore: Comment out Cargo.lock in gitignore (#157)
  .gitignore
Due: end-of-file-fixer

Apply suggestions from code review (fix integration_test)
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

formatting
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Test is working
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

ci: Properly trigger chore workflow from forks
  .github/workflows/chore.yml
Due: prettier, end-of-file-fixer

ci: Properly trigger chore workflow from forks (#158)
  .github/workflows/chore.yml
Due: prettier, end-of-file-fixer

bump version
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

feat: Support local pixi-pack executables for self-extracting (#156)
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
  src/pack.rs
  tests/integration_test.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Adjust snapshots after release
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

chore: Adjust snapshots after release (#159)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

fix: Panic due to duplicate `-p` handles
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: Panic due to duplicate -p handles (#160)
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Adjust snapshots after release (#161)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

Upload artifact attestation on release
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer

How to use gh to verify an attestation
  README.md
Due: prettier, end-of-file-fixer

ci: Upload artifact attestation on release (#163)
  .github/workflows/build.yml
  README.md
Due: prettier, end-of-file-fixer

feat: support scheme 'file' to process local conda files
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

add integration test
  .gitignore
  examples/local-channel/channel/noarch/my-webserver-0.1.0-pyh4616a5c_0.conda
  examples/local-channel/channel/noarch/repodata.json
  examples/local-channel/pixi.lock.template
  examples/local-channel/pixi.toml.template
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Upgrade local-channel example to current lock file format
  examples/local-channel/pixi.lock.template
  examples/local-channel/pixi.toml.template
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy
