Repository Quantco/pixi-pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

.pre-commit-config.yaml:

exclude: (^env/|.pixi/)
repos:
  - repo: local
    hooks:
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: src/header.sh
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # cargo fmt and clippy
      - id: cargo-fmt
        name: cargo-fmt
        entry: pixi run -e default cargo fmt --
        language: system
        require_serial: false
        types: [rust]
      - id: cargo-clippy
        name: cargo-clippy
        entry: pixi run -e default cargo clippy --all-targets --all-features --workspace -- -D warnings
        pass_filenames: false
        language: system
        require_serial: false
        types: [rust]
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]

Update src/header.sh
  src/header.sh
Due: none

removed verbosity and quiet flags check from headers
  src/header.ps1
  src/header.sh
Due: end-of-file-fixer

Update tests/integration_test.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Fix pack_fle default for windows
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Fixed small ordering issue
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Assert executable bits exist
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Fix issue with setting the default output file
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Add permission for the executable on unix along with tests
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Pass args to pixi-pack directly instead of parsing
  src/header.ps1
  src/header.sh
Due: end-of-file-fixer

set the executable bit only on unix systems
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Remove extra comment in header.sh
  src/header.sh
Due: none

Minor fixes
  src/header.sh
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Added tempdir removal
  src/header.ps1
  src/header.sh
Due: end-of-file-fixer

replace "env" with options.unpack_options.env_name
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Replace tail and head with sed
  src/header.sh
Due: none

rnu fmt
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

shellcheck and readme
  .gitignore
  .pre-commit-config.yaml
  README.md
  pixi.lock
  pixi.toml
  src/header.sh
Due: prettier, end-of-file-fixer, taplo

add $ErrorActionPreference = "Stop"
  src/header.ps1
Due: end-of-file-fixer

exit on failure
  src/header.ps1
Due: end-of-file-fixer

make reproducible
  Cargo.lock
  Cargo.toml
  src/pack.rs
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

minor fix
  src/header.ps1
Due: end-of-file-fixer

fix everything
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fmt
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

clippy
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

feat: Use deterministic tar header mode, use insta to assert reproducibility (#75)
  Cargo.lock
  Cargo.toml
  examples/simple-python/pixi.lock
  examples/simple-python/pixi.toml
  src/pack.rs
  src/util.rs
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

fix reproducibility test
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fmt
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Print args for debugging
  src/header.ps1
Due: end-of-file-fixer

Fix args issue on windows
  src/header.ps1
Due: end-of-file-fixer

Windows args fix
  src/header.ps1
Due: end-of-file-fixer

Update Win64 snapshot
  tests/snapshots/integration_test__sha256-win-64-executable.snap
Due: end-of-file-fixer

Added built-on-win snapshots
  tests/integration_test.rs
  tests/snapshots/integration_test__built-on-win__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__built-on-win__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__built-on-win__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__built-on-win__sha256-osx-arm64-executable.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

use clrf in header.ps1
  src/header.ps1
Due: end-of-file-fixer

use \r\n for windows executable
  src/pack.rs
  tests/snapshots/integration_test__sha256-win-64-executable.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

force line endings
  .gitattributes
Due: end-of-file-fixer

reproducible on windows as well
  tests/integration_test.rs
  tests/snapshots/integration_test__built-on-win__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__built-on-win__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__built-on-win__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__built-on-win__sha256-osx-arm64-executable.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

add test for line endings
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy
