Repository Quantco/pixi-pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

.pre-commit-config.yaml:

exclude: (^env/|.pixi/)
repos:
  - repo: local
    hooks:
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: src/header.sh
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # cargo fmt and clippy
      - id: cargo-fmt
        name: cargo-fmt
        entry: pixi run -e default cargo fmt --
        language: system
        require_serial: false
        types: [rust]
      - id: cargo-clippy
        name: cargo-clippy
        entry: pixi run -e default cargo clippy --all-targets --all-features --workspace -- -D warnings
        pass_filenames: false
        language: system
        require_serial: false
        types: [rust]
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]

feat: no_tar for pack
  src/bin/pixi-pack.rs
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Demo flat pixi.lock
  examples/local-build/local-pkg/pixi.lock
  examples/local-build/local-pkg/pixi.toml
  examples/local-build/main-pkg/local-pkg/CMakeLists.txt
  examples/local-build/main-pkg/local-pkg/pixi.toml
  examples/local-build/main-pkg/local-pkg2/CMakeLists.txt
  examples/local-build/main-pkg/local-pkg2/pixi.toml
  examples/local-build/main-pkg/pixi.lock
  examples/local-build/main-pkg/pixi.toml
Due: end-of-file-fixer, taplo

fix: DirectoryOnly instead of no_tar
  src/bin/pixi-pack.rs
  src/lib.rs
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

refactor: Counter usage
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

refactor: Replace either
  Cargo.lock
  Cargo.toml
  src/pack.rs
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

fix: remove recursive search and use packages from lock file
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: fix after review
  examples/local-build/main-pkg/local-pkg/CMakeLists.txt
  examples/local-build/main-pkg/local-pkg/pixi.lock
  examples/local-build/main-pkg/local-pkg/pixi.toml
  examples/local-build/main-pkg/pixi.lock
  examples/local-build/main-pkg/pixi.toml
  pixi.lock
  pixi.toml
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

refactor local-build structure
  examples/local-build/CMakeLists.txt
  examples/local-build/local-pkg/CMakeLists.txt
  examples/local-build/local-pkg/pixi.toml
  examples/local-build/local-pkg2/CMakeLists.txt
  examples/local-build/local-pkg2/pixi.toml
  examples/local-build/main-pkg/local-pkg/pixi.toml
  examples/local-build/main-pkg/pixi.lock
  examples/local-build/pixi.lock
  examples/local-build/pixi.toml
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

explicitly drop
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

reword
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: fix manifest_dir
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

update
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

bump
  Cargo.lock
  Cargo.toml
  src/build_context.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Update .github/workflows/scorecard.yml
  .github/workflows/scorecard.yml
Due: prettier, end-of-file-fixer

build: Bump rattler, use uv from crates.io (#243)
  Cargo.lock
  Cargo.toml
  src/build_context.rs
  src/pack.rs
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Update shasums after release (#242)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

fix: fix tests to match pixi 0.6.1
  examples/local-build/local-pkg/pixi.toml
  examples/local-build/local-pkg2/pixi.toml
  examples/local-build/pixi.lock
  examples/local-build/pixi.toml
  pixi.lock
  pixi.toml
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

fix: fix cargo lock
  Cargo.lock
Due: end-of-file-fixer

feat: allow python wheels from local path
  examples/pypi-wheel-packages/pixi.lock
  examples/pypi-wheel-packages/pixi.toml
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

fix: update download_pypi_package
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: correct source path
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

chore: Update shasum
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
Due: end-of-file-fixer

feat: add conda checksum verify
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: update error message
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: tokio::File does not flush when out of scope, manually flush
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

feat: compute the hashes in-flight
  Cargo.lock
  Cargo.toml
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

wip
  Cargo.lock
  Cargo.toml
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

small fixes
  src/pack.rs
  src/unpack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fixes
  src/bin/pixi-pack.rs
  src/bin/pixi-unpack.rs
  src/lib.rs
  src/pack.rs
  src/unpack.rs
  src/util.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

WIP
  Cargo.lock
Due: end-of-file-fixer

fixes
  Cargo.lock
  Cargo.toml
  src/pack.rs
  src/unpack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

WIP
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

feat: Allow python wheels from local path to be packed (#259)
  examples/pypi-wheel-packages/pixi.lock
  examples/pypi-wheel-packages/pixi.toml
  src/pack.rs
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

snapshots
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

feat: Verify conda package's sha256 or md5 from pixi.lock (#260)
  Cargo.lock
  Cargo.toml
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Add claude-specific git ignores
  .gitignore
Due: end-of-file-fixer

chore: Add claude-specific git ignores (#268)
  .gitignore
Due: end-of-file-fixer

Revert "ci: Generate hashes for SLSA (#153)"
  .github/workflows/build.yml
  README.md
Due: prettier, end-of-file-fixer
