Repository Quantco/pixi-pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

prettier:
  name: prettier
  entry: pixi run -e lint prettier --write --list-different --ignore-unknown
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: pixi run -e lint end-of-file-fixer
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: pixi run -e default cargo fmt --
  language: system
  require_serial: false

cargo-clippy:
  name: cargo-clippy
  entry: pixi run -e default cargo clippy --all-targets --all-features --workspace -- -D warnings
  pass_filenames: false
  language: system
  require_serial: false

taplo:
  name: taplo
  entry: pixi run -e lint taplo format
  language: system

Update src/pack.rs
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

bump version
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

feat: Add GCS support (#309)
  Cargo.lock
  Cargo.toml
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Update snapshots after release
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

chore: Update snapshots after release (#310)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

bump rattler crates
  Cargo.toml
Due: end-of-file-fixer, taplo

build: Bump rattler crates
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

WIP
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

build: Bump rattler crates (#311)
  Cargo.lock
  Cargo.toml
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Update snapshots after release (#313)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

fix: fix typo
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

feat: Bump rattler, introduce offline mode for pixi-unpack
  Cargo.lock
  Cargo.toml
  src/pack.rs
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

set autoupdate to never in example pixi.toml files
  examples/auth/pixi.toml
  examples/local-channel/pixi.toml.template
  examples/mirror-middleware/pixi.toml
  examples/no-timestamp/pixi.toml
  examples/pypi-non-wheel-packages/pixi.toml
  examples/pypi-wheel-packages/pixi.toml
  examples/repodata-patches/pixi.toml
  examples/simple-python/pixi.toml
  examples/webserver/pixi.toml
Due: end-of-file-fixer, taplo

chore: Set autoupdate to never in example pixi.toml files (#325)
  examples/auth/pixi.toml
  examples/local-channel/pixi.toml.template
  examples/mirror-middleware/pixi.toml
  examples/no-timestamp/pixi.toml
  examples/pypi-non-wheel-packages/pixi.toml
  examples/pypi-wheel-packages/pixi.toml
  examples/repodata-patches/pixi.toml
  examples/simple-python/pixi.toml
  examples/webserver/pixi.toml
Due: end-of-file-fixer, taplo

Update chore.yml
  .github/workflows/chore.yml
Due: prettier, end-of-file-fixer

WIP
  Cargo.lock
Due: end-of-file-fixer

fix build?
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer

enable feature
  Cargo.toml
Due: end-of-file-fixer, taplo

..
  Cargo.toml
Due: end-of-file-fixer, taplo

fix
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

Bump pixi
  pixi.lock
  pixi.toml
Due: end-of-file-fixer, taplo

feat: Bump rattler, introduce offline mode for pixi-unpack (#323)
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/pack.rs
  src/unpack.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Adjust implementation for most recent pixi publish
  examples/local-build/CMakeLists.txt
  examples/local-build/hello.c
  examples/local-build/local-pkg/CMakeLists.txt
  examples/local-build/local-pkg/hello.c
  examples/local-build/local-pkg/pixi.toml
  examples/local-build/local-pkg2/CMakeLists.txt
  examples/local-build/local-pkg2/hello.c
  examples/local-build/local-pkg2/pixi.toml
  examples/local-build/pixi.lock
  examples/local-build/pixi.toml
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Fix
  examples/local-build/pixi.toml
Due: end-of-file-fixer, taplo

nit
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix?
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Apply suggestion from @delsner
  README.md
Due: prettier, end-of-file-fixer

Disable test again
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

feat: Write CACHEDIR.TAG to the pack cache directory (#328)
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

bump
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

feat: Add support for SOURCE packages (#244)
  Cargo.lock
  Cargo.toml
  examples/local-build/CMakeLists.txt
  examples/local-build/hello.c
  examples/local-build/local-pkg/CMakeLists.txt
  examples/local-build/local-pkg/hello.c
  examples/local-build/local-pkg/pixi.toml
  examples/local-build/local-pkg2/CMakeLists.txt
  examples/local-build/local-pkg2/hello.c
  examples/local-build/local-pkg2/pixi.toml
  examples/local-build/pixi.lock
  examples/local-build/pixi.toml
  pixi.lock
  pixi.toml
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Update snapshots after release (#329)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

fix local build test
  examples/local-build/pixi.lock
  examples/local-build/pixi.toml
Due: end-of-file-fixer, taplo

ci: fix local build test (#338)
  examples/local-build/pixi.lock
  examples/local-build/pixi.toml
Due: end-of-file-fixer, taplo

fixes
  Cargo.lock
  Cargo.toml
  src/build_context.rs
  src/lib.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

ci: Replace dtolnay/rust-toolchain by simple rustup command
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer

Path conditions:
  prettier: any of: \.(md|yml|yaml)$, but not: (^env/|.pixi/)
  end-of-file-fixer: any of: not (src/header.sh), but not: (^env/|.pixi/)
  cargo-fmt: any of: \.rs$, but not: (^env/|.pixi/)
  cargo-clippy: any of: \.rs$, but not: (^env/|.pixi/)
  taplo: any of: \.toml$, but not: (^env/|.pixi/)
