Repository Quantco/pixi-pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

.pre-commit-config.yaml:

exclude: (^env/|.pixi/)
repos:
  - repo: local
    hooks:
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: src/header.sh
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # cargo fmt and clippy
      - id: cargo-fmt
        name: cargo-fmt
        entry: pixi run -e default cargo fmt --
        language: system
        require_serial: false
        types: [rust]
      - id: cargo-clippy
        name: cargo-clippy
        entry: pixi run -e default cargo clippy --all-targets --all-features --workspace -- -D warnings
        pass_filenames: false
        language: system
        require_serial: false
        types: [rust]
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]

Remove extra line in header.sh
  src/header.sh
Due: none

fix ci
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

Removing extra print in header file
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Fixing extraction error in header.sh
  src/header.sh
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

include package name in error message
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Update Cargo.toml
  Cargo.toml
Due: end-of-file-fixer, taplo

update cargo.lock
  Cargo.lock
Due: end-of-file-fixer

feat: include package name in error message (#33)
  Cargo.lock
  Cargo.toml
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Update build.yml
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer

bump version
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

move size optimized release profile to cargo config
  .cargo/config.toml
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer, taplo

strip true
  .cargo/config.toml
Due: end-of-file-fixer, taplo

use correct output folder
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer

whitespace
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer

ci: fix release CI (#34)
  .cargo/config.toml
  .github/workflows/build.yml
  Cargo.lock
  Cargo.toml
Due: prettier, end-of-file-fixer, taplo

ci: Build for Windows-ARM as well
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer

some more bumps
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

Initialized extractor
  Cargo.lock
  Cargo.toml
  build.rs
  extractor/Cargo.toml
  extractor/src/main.rs
  src/header.sh
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Update chore.yml
  .github/workflows/chore.yml
Due: prettier, end-of-file-fixer

Update ci.yml
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

Added extractor
  Cargo.lock
  Cargo.toml
  build.rs
  extractor/Cargo.toml
  extractor/src/main.rs
  src/header.sh
  src/main.rs
  src/pack.rs
  src/unpack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Fixed unpack shell script
  src/unpack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: Fix resource leak for tmp dir during unpack
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: Fix resource leak for tmp dir during unpack (#42)
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

wip: fix shasum
  Cargo.lock
  Cargo.toml
  src/pack.rs
  src/util.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

minor fix
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

chore: Bump to 0.1.6 release
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

chore: Bump to 0.1.6 release (#44)
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

ci: Build for Windows-ARM as well (#36)
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer

chore: Bump dependencies
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

Bump dependencies
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

chore: Bump dependencies (#45)
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

fix: Fix leaking package cache directory
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Bump version
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

Check for errors when removing temp dir
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: Fix leaking package cache directory (#47)
  Cargo.lock
  Cargo.toml
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Updated Cargo.toml and Cargo.lock
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

Fixed unpack.rs
  Cargo.lock
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Revert "Merge branch 'main' into selfexec_support"
  .github/workflows/chore.yml
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer
