Repository Quantco/pixi-pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

.pre-commit-config.yaml:

exclude: (^env/|.pixi/)
repos:
  - repo: local
    hooks:
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: src/header.sh
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # cargo fmt and clippy
      - id: cargo-fmt
        name: cargo-fmt
        entry: pixi run -e default cargo fmt --
        language: system
        require_serial: false
        types: [rust]
      - id: cargo-clippy
        name: cargo-clippy
        entry: pixi run -e default cargo clippy --all-targets --all-features --workspace -- -D warnings
        pass_filenames: false
        language: system
        require_serial: false
        types: [rust]
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]

Fix pre-commit errors
  .typos.toml
  examples/local-channel/channel/noarch/repodata.json
Due: end-of-file-fixer, taplo

bump lockfile
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

fix
  Cargo.lock
Due: end-of-file-fixer

feat: Support scheme 'file' to process local conda files (#166)
  .gitignore
  .typos.toml
  Cargo.lock
  Cargo.toml
  examples/local-channel/channel/noarch/my-webserver-0.1.0-pyh4616a5c_0.conda
  examples/local-channel/channel/noarch/repodata.json
  examples/local-channel/pixi.lock.template
  examples/local-channel/pixi.toml.template
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Adjust snapshots after release
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

chore: Adjust snapshots after release (#167)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

Add a security policy
  SECURITY.md
Due: prettier, end-of-file-fixer

Update SECURITY.md
  SECURITY.md
Due: prettier, end-of-file-fixer

docs: Add a security policy (#168)
  SECURITY.md
Due: prettier, end-of-file-fixer

feat: add --inject wheels
  Cargo.lock
  Cargo.toml
  examples/webserver/my_webserver-0.1.0-py3-none-any.whl
  examples/webserver/pixi.lock
  examples/webserver/pixi.toml
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

fix: fix integration test error on windows
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: remove pep508_rs from crate list
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

doc: update README.md and README.md in webserver
  README.md
  examples/webserver/README.md
  examples/webserver/pixi.toml
Due: prettier, end-of-file-fixer, taplo

fix: add some warning when injecting pypi package
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Apply suggestions from code review
  README.md
  examples/webserver/README.md
  src/pack.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy

fix: use tracing::warn
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

bump version
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

feat: Allow `--inject`ing wheels (#169)
  Cargo.lock
  Cargo.toml
  README.md
  examples/webserver/README.md
  examples/webserver/my_webserver-0.1.0-py3-none-any.whl
  examples/webserver/pixi.lock
  examples/webserver/pixi.toml
  src/pack.rs
  tests/integration_test.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Adjust snapshots after release (#170)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

feat: Specify pixi-pack version in user agent
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

feat: Specify pixi-pack version in user agent (#176)
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

build: Bump dependencies, use rattler_config instead of pixi_config
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/main.rs
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

fix
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

bump uv as well
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

remove version-ranges patch
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

fix
  .github/workflows/build.yml
  Cargo.lock
  Cargo.toml
Due: prettier, end-of-file-fixer, taplo

fix
  src/main.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

typo
  src/lib.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

refactor: Use rattler_config instead of pixi_config (#178)
  .github/workflows/build.yml
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/main.rs
  src/pack.rs
  tests/integration_test.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

feat: Use rattler_config max_concurrency constants instead of hard-coded values
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/pack.rs
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Update readme
  README.md
Due: prettier, end-of-file-fixer

feat: Use rattler_config max_concurrency constants instead of hard-coded values (#181)
  .typos.toml
  Cargo.lock
  Cargo.toml
  README.md
  src/pack.rs
  src/unpack.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

fix: Fix pypi download url issue
  examples/pypi-wheel-171/pixi.lock
  examples/pypi-wheel-171/pixi.toml
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Update existing test
  examples/pypi-wheel-171/pixi.lock
  examples/pypi-wheel-171/pixi.toml
  examples/pypi-wheel-packages/pixi.lock
  examples/pypi-wheel-packages/pixi.toml
Due: end-of-file-fixer, taplo

Update insta snapshots
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
Due: end-of-file-fixer

Update version
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

fix: Fix pypi download url issue (#182)
  Cargo.lock
  Cargo.toml
  examples/pypi-wheel-packages/pixi.lock
  examples/pypi-wheel-packages/pixi.toml
  src/pack.rs
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Update insta snapshots
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

chore: Update insta snapshots after release (#183)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer
