Repository Quantco/pixi-pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

prettier:
  name: prettier
  entry: pixi run -e lint prettier --write --list-different --ignore-unknown
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: pixi run -e lint end-of-file-fixer
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: pixi run -e default cargo fmt --
  language: system
  require_serial: false

cargo-clippy:
  name: cargo-clippy
  entry: pixi run -e default cargo clippy --all-targets --all-features --workspace -- -D warnings
  pass_filenames: false
  language: system
  require_serial: false

taplo:
  name: taplo
  entry: pixi run -e lint taplo format
  language: system

feat: Split pixi-pack and pixi-unpack into separate binaries
  src/bin/pixi-pack.rs
  src/bin/pixi-unpack.rs
  src/main.rs
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

update CI
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer

adjust readme
  README.md
  src/bin/pixi-pack.rs
  src/bin/pixi-unpack.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy

fixes
  .github/assets/demo/demo-dark.gif
  .github/assets/demo/demo-dark.mp4
  .github/assets/demo/demo-dark.tape
  .github/assets/demo/demo-light.gif
  .github/assets/demo/demo-light.mp4
  .github/assets/demo/demo-light.tape
  README.md
Due: prettier, end-of-file-fixer

fix
  README.md
  src/bin/pixi-pack.rs
  src/pack.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy

fix
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

bump version
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

fix
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

feat!: Split pixi-pack and pixi-unpack into separate binaries (#184)
  .github/assets/demo/demo-dark.gif
  .github/assets/demo/demo-dark.mp4
  .github/assets/demo/demo-dark.tape
  .github/assets/demo/demo-light.gif
  .github/assets/demo/demo-light.mp4
  .github/assets/demo/demo-light.tape
  .github/workflows/build.yml
  Cargo.lock
  Cargo.toml
  README.md
  src/bin/pixi-pack.rs
  src/bin/pixi-unpack.rs
  src/main.rs
  src/pack.rs
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

fix: Set proper name to binaries
  src/bin/pixi-pack.rs
  src/bin/pixi-unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

chore: Update insta snapshots
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
Due: end-of-file-fixer

fix: Create-executable incorrect name
  src/header.ps1
  src/header.sh
Due: end-of-file-fixer

chore: Update insta snapshots (#186)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
Due: end-of-file-fixer

update shasums
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
Due: end-of-file-fixer

add default unpack arg
  src/bin/pixi-unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix
  src/header.ps1
Due: end-of-file-fixer

fix
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
Due: end-of-file-fixer

fix: Standalone executable doesn't work (#187)
  src/bin/pixi-unpack.rs
  src/header.ps1
  src/header.sh
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: Set proper name to binaries (#185)
  Cargo.lock
  Cargo.toml
  src/bin/pixi-pack.rs
  src/bin/pixi-unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Update insta snapshots
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

chore: Update insta snapshots (#188)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

fix: Bump rattler dependencies
  Cargo.lock
  Cargo.toml
  src/pack.rs
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

fix: Bump rattler dependencies (#193)
  Cargo.lock
  Cargo.toml
  src/pack.rs
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Update insta snapshots (#195)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

Add SAST via CodeQL (public preview)
  .github/workflows/codeql.yml
Due: prettier, end-of-file-fixer

Pin actions
  .github/workflows/codeql.yml
Due: prettier, end-of-file-fixer

Update .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Due: prettier, end-of-file-fixer

ci: Add SAST via CodeQL (public preview) (#197)
  .github/workflows/codeql.yml
Due: prettier, end-of-file-fixer

ci: Set explict top-level permissions for GHA
  .github/workflows/build.yml
  .github/workflows/chore.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: prettier, end-of-file-fixer

Set contents: write for the release
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer

ci: Set explict top-level permissions for GHA (#198)
  .github/workflows/build.yml
  .github/workflows/chore.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: prettier, end-of-file-fixer

First proposal of adding a flag to skip the platform check
  src/bin/pixi-unpack.rs
  src/unpack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Update readme
  README.md
Due: prettier, end-of-file-fixer

downpin uv
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

fix: Fix 404 in readme
  README.md
Due: prettier, end-of-file-fixer

docs: Add citation.cff file
  CITATION.cff
Due: end-of-file-fixer

docs: Add citation.cff file (#207)
  CITATION.cff
Due: end-of-file-fixer

Path conditions:
  prettier: any of: \.(md|yml|yaml)$, but not: (^env/|.pixi/)
  end-of-file-fixer: any of: not (src/header.sh), but not: (^env/|.pixi/)
  cargo-fmt: any of: \.rs$, but not: (^env/|.pixi/)
  cargo-clippy: any of: \.rs$, but not: (^env/|.pixi/)
  taplo: any of: \.toml$, but not: (^env/|.pixi/)
