Repository Quantco/pixi-pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

prettier:
  name: prettier
  entry: pixi run -e lint prettier --write --list-different --ignore-unknown
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: pixi run -e lint end-of-file-fixer
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: pixi run -e default cargo fmt --
  language: system
  require_serial: false

cargo-clippy:
  name: cargo-clippy
  entry: pixi run -e default cargo clippy --all-targets --all-features --workspace -- -D warnings
  pass_filenames: false
  language: system
  require_serial: false

taplo:
  name: taplo
  entry: pixi run -e lint taplo format
  language: system

Autoformat
  src/main.rs
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Reformatting as a precommit check failed
  README.md
Due: prettier, end-of-file-fixer

Actually check the timestamp of the files in the test, also add sha256 check in the test
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Fix formatting
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

bump version
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

feat: Implement a --use-cache flag (#104)
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
  src/pack.rs
  tests/integration_test.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Adjust shas after release
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

chore: Adjust shas after release (#105)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

docs: Mention add_pip_as_python_dependency in compatibility mode (#103)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: prettier, end-of-file-fixer

feat: Use tracing feature from clap-verbosity-flag
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

feat: Use tracing feature from clap-verbosity-flag (#106)
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

bump rust
  pixi.lock
  pixi.toml
Due: end-of-file-fixer, taplo

fix: Update CODEOWNERS
  .github/CODEOWNERS
Due: end-of-file-fixer

fix: Update CODEOWNERS (#111)
  .github/CODEOWNERS
Due: end-of-file-fixer

chore: Mention correct link in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier, end-of-file-fixer

chore: Mention correct link in pull request template (#112)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier, end-of-file-fixer

add experimental pypi support
  Cargo.lock
  Cargo.toml
  src/build_context.rs
  src/lib.rs
  src/main.rs
  src/pack.rs
  src/unpack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

[fix] downgrade indexmap from 2.8.0 to 2.7.1, priority-queue from 2.2.2 to 2.1.2
  Cargo.lock
Due: end-of-file-fixer

update to rust 1.83.0
  pixi.lock
  pixi.toml
Due: end-of-file-fixer, taplo

output message minor fix
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

apply suggestions from cargo-fmt and cargo-clippy
  src/build_context.rs
  src/lib.rs
  src/pack.rs
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

make `--experimental-pypi-support` conflict with `--ignore-pypi-errors`
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

[WIP] add test to check pypi-support is work, add sdists test
  examples/pypi-bdist-packages/pixi.lock
  examples/pypi-bdist-packages/pixi.toml
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

[WIP] fix tests in windows
  examples/pypi-bdist-packages/pixi.toml
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

[feat] add reproducible test
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

try reduce test parallel
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

[feat] use flat index instead of simple index, replace dependency tokio-tar by astral-tokio-tar to prevent long filename truncate bug
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/pack.rs
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

[feat] revert to use tokio-tar
  Cargo.lock
  Cargo.toml
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
Due: end-of-file-fixer, taplo

[fix] improve error message when project contains a package without wheel file
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

docs: Fix typo
  README.md
Due: prettier, end-of-file-fixer

docs: Fix typo (#120)
  README.md
Due: prettier, end-of-file-fixer

[fix] disable test parallel when ci testing
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

docs: Add downloads badge
  README.md
Due: prettier, end-of-file-fixer

docs: Add conda downloads badge (#121)
  README.md
Due: prettier, end-of-file-fixer

refactor: Use error_for_status in response
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Simplify response handling in pack.rs
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Fix test
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Revert chunked writing
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

refactor: Use error_for_status in response (#122)
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

[WIP] apply some minor suggestions
  Cargo.toml
  examples/pypi-bdist-packages/pixi.lock
  examples/pypi-bdist-packages/pixi.toml
  src/build_context.rs
  src/pack.rs
  src/unpack.rs
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Path conditions:
  prettier: any of: \.(md|yml|yaml)$, but not: (^env/|.pixi/)
  end-of-file-fixer: any of: not (src/header.sh), but not: (^env/|.pixi/)
  cargo-fmt: any of: \.rs$, but not: (^env/|.pixi/)
  cargo-clippy: any of: \.rs$, but not: (^env/|.pixi/)
  taplo: any of: \.toml$, but not: (^env/|.pixi/)
