Repository Quantco/pixi-pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

prettier:
  name: prettier
  entry: pixi run -e lint prettier --write --list-different --ignore-unknown
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: pixi run -e lint end-of-file-fixer
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: pixi run -e default cargo fmt --
  language: system
  require_serial: false

cargo-clippy:
  name: cargo-clippy
  entry: pixi run -e default cargo clippy --all-targets --all-features --workspace -- -D warnings
  pass_filenames: false
  language: system
  require_serial: false

taplo:
  name: taplo
  entry: pixi run -e lint taplo format
  language: system

Bump version
  .gitignore
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

fix shas
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

feat: Add self-extracting file as an optional feature (#31)
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  README.md
  pixi.lock
  pixi.toml
  src/header.ps1
  src/header.sh
  src/main.rs
  src/pack.rs
  src/unpack.rs
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

ci: Fix reproducibility tests after release
  src/header.ps1
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
Due: end-of-file-fixer

ci: Fix reproducibility tests after release (#76)
  src/header.ps1
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
Due: end-of-file-fixer

Bump indicatif, rattler, revert reqwest-middleware bump
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

feat: Bump dependencies to support new lockfile version
  Cargo.lock
  Cargo.toml
  examples/repodata-patches/README.md
  examples/repodata-patches/pixi.lock
  examples/repodata-patches/pixi.toml
  examples/simple-python/pixi.lock
  src/pack.rs
  src/unpack.rs
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

frormat
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

feat: Bump dependencies to support new lockfile version (#79)
  Cargo.lock
  Cargo.toml
  examples/repodata-patches/README.md
  examples/repodata-patches/pixi.lock
  examples/repodata-patches/pixi.toml
  examples/simple-python/pixi.lock
  src/pack.rs
  src/unpack.rs
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Fix reproducibility tests after release
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
Due: end-of-file-fixer

chore: Fix reproducibility tests after release (#81)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
Due: end-of-file-fixer

ci: Run CI on arm runners as well
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

.
  .github/workflows/ci.yml
  pixi.toml
Due: prettier, end-of-file-fixer, taplo

.
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

adjust autoupdate commit message
  pixi.toml
Due: end-of-file-fixer, taplo

Update ci.yml
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

install cross
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer

fix features
  Cargo.toml
Due: end-of-file-fixer, taplo

move cross configuration
  Cargo.toml
  Cross.toml
Due: end-of-file-fixer, taplo

feat: Support manifest path to project directory
  src/main.rs
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

add test for manifest_path directory
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

chore: Fix pixi warning
  pixi.toml
Due: end-of-file-fixer, taplo

feat: Support manifest path to project directory (#94)
  src/main.rs
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

chore: Fix pixi warning (#95)
  pixi.toml
Due: end-of-file-fixer, taplo

fix: Properly convert filepath to URL during unpacking
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Bump version
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

fix: Properly convert filepath to URL during unpacking (#96)
  Cargo.lock
  Cargo.toml
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Adjust shas after release
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

fix
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
Due: end-of-file-fixer

chore: Adjust shas after release (#97)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

fix: Change default manifest path to cwd
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Bump version to 0.3.3
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

Revert version to 0.3.2
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

fix: Change default manifest path to cwd (#99)
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

docs: Mention add_pip_as_python_dependency in compatibility mode
  README.md
Due: prettier, end-of-file-fixer

adjust pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier, end-of-file-fixer

Apply suggestions from code review
  README.md
Due: prettier, end-of-file-fixer

Implement a --use-cache flag that will download to a user-provided cache folder for reuse later
  README.md
  src/main.rs
  src/pack.rs
  tests/integration_test.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy

Path conditions:
  prettier: any of: \.(md|yml|yaml)$, but not: (^env/|.pixi/)
  end-of-file-fixer: any of: not (src/header.sh), but not: (^env/|.pixi/)
  cargo-fmt: any of: \.rs$, but not: (^env/|.pixi/)
  cargo-clippy: any of: \.rs$, but not: (^env/|.pixi/)
  taplo: any of: \.toml$, but not: (^env/|.pixi/)
