Repository Quantco/pixi-pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

.pre-commit-config.yaml:

exclude: (^env/|.pixi/)
repos:
  - repo: local
    hooks:
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: src/header.sh
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # cargo fmt and clippy
      - id: cargo-fmt
        name: cargo-fmt
        entry: pixi run -e default cargo fmt --
        language: system
        require_serial: false
        types: [rust]
      - id: cargo-clippy
        name: cargo-clippy
        entry: pixi run -e default cargo clippy --all-targets --all-features --workspace -- -D warnings
        pass_filenames: false
        language: system
        require_serial: false
        types: [rust]
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]

feat: remove experimental flag, merge pypi tests with exist tests, add serial_test and mark conda tests are serial
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  examples/pypi-bdist-packages/pixi.lock
  examples/pypi-bdist-packages/pixi.toml
  src/main.rs
  src/pack.rs
  src/unpack.rs
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

review
  examples/pypi-wheel-packages/pixi.lock
  examples/pypi-wheel-packages/pixi.toml
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

bump package version, add to readme
  Cargo.lock
  Cargo.toml
  README.md
Due: prettier, end-of-file-fixer, taplo

feat: Add PyPI support (#116)
  Cargo.lock
  Cargo.toml
  README.md
  examples/pypi-wheel-packages/pixi.lock
  examples/pypi-wheel-packages/pixi.toml
  pixi.lock
  pixi.toml
  src/build_context.rs
  src/lib.rs
  src/pack.rs
  src/unpack.rs
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Adjust shas after release
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

fix
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
Due: end-of-file-fixer

chore: Adjust shas after release (#125)
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

fix rattler auth storage behavior
  src/main.rs
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix
  Cargo.lock
  Cargo.toml
  src/build_context.rs
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

fix
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

use expect
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

bump rust
  pixi.lock
  pixi.toml
Due: end-of-file-fixer, taplo

refactor: Refactor --ignore-pypi-errors to --ignore-pypi-non-wheel
  README.md
  examples/pypi-non-wheel-packages/README.md
  examples/pypi-non-wheel-packages/pixi.lock
  examples/pypi-non-wheel-packages/pixi.toml
  examples/pypi-packages/README.md
  src/main.rs
  src/pack.rs
  tests/integration_test.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

bump version
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

refactor: Refactor --ignore-pypi-errors to --ignore-pypi-non-wheel (#129)
  Cargo.lock
  Cargo.toml
  README.md
  examples/pypi-non-wheel-packages/README.md
  examples/pypi-non-wheel-packages/pixi.lock
  examples/pypi-non-wheel-packages/pixi.toml
  examples/pypi-packages/README.md
  src/main.rs
  src/pack.rs
  tests/integration_test.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Adjust shas after release
  pixi.toml
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer, taplo

chore: Adjust shas after release (#130)
  pixi.toml
  tests/snapshots/integration_test__sha256-linux-64-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-linux-aarch64-pypi.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le-pypi.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-osx-arm64-pypi.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi-executable.snap
  tests/snapshots/integration_test__sha256-win-64-pypi.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer, taplo

add merge=binary to gitattributes
  .gitattributes
Due: end-of-file-fixer

no cross
  .github/workflows/build.yml
  Cross.toml
Due: prettier, end-of-file-fixer, taplo

also test on windows
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

Add OpenSSF Scorecard Analysis
  .github/workflows/scorecard.yml
Due: prettier, end-of-file-fixer

install musl tools
  .github/workflows/build.yml
  .github/workflows/ci.yml
  pixi.toml
Due: prettier, end-of-file-fixer, taplo

lint
  .github/workflows/scorecard.yml
Due: prettier, end-of-file-fixer

fix
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix test
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

ci: Run CI on arm runners as well (#87)
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Cross.toml
  pixi.toml
  tests/integration_test.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Update .github/workflows/scorecard.yml
  .github/workflows/scorecard.yml
Due: prettier, end-of-file-fixer

ci: Add OpenSSF Scorecard Analysis (#134)
  .github/workflows/scorecard.yml
Due: prettier, end-of-file-fixer

chore: Add workflow-dispatch to supply scorecard workflow
  .github/workflows/scorecard.yml
Due: prettier, end-of-file-fixer

chore: Add workflow-dispatch to supply scorecard workflow (#135)
  .github/workflows/scorecard.yml
Due: prettier, end-of-file-fixer

feat: Add s3 and mirror middleware
  Cargo.lock
  Cargo.toml
  examples/mirror-middleware/config.toml
  examples/mirror-middleware/pixi.lock
  examples/mirror-middleware/pixi.toml
  src/main.rs
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

add readme
  Cargo.lock
  Cargo.toml
  README.md
  examples/mirror-middleware/README.md
Due: prettier, end-of-file-fixer, taplo

typo
  README.md
Due: prettier, end-of-file-fixer

chore: Use edition 2024
  Cargo.toml
  src/lib.rs
  src/main.rs
  src/pack.rs
  src/unpack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Use edition 2024 (#137)
  Cargo.toml
  src/lib.rs
  src/main.rs
  src/pack.rs
  src/unpack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Bump version to 0.6.0
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

fix
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

dont bump yet
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

downpin uv
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo
