Repository Quantco/pixi-pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

.pre-commit-config.yaml:

exclude: (^env/|.pixi/)
repos:
  - repo: local
    hooks:
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: src/header.sh
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e lint check-merge-conflict --assume-in-merge
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      # cargo fmt and clippy
      - id: cargo-fmt
        name: cargo-fmt
        entry: pixi run -e default cargo fmt --
        language: system
        require_serial: false
        types: [rust]
      - id: cargo-clippy
        name: cargo-clippy
        entry: pixi run -e default cargo clippy --all-targets --all-features --workspace -- -D warnings
        pass_filenames: false
        language: system
        require_serial: false
        types: [rust]
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]

feat: Write pixi-pack-version to metadata file
  src/lib.rs
  src/main.rs
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

format
  src/lib.rs
  src/main.rs
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

feat: Write pixi-pack-version to metadata file (#62)
  src/lib.rs
  src/main.rs
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: Use default when no timestamp is provided in package (#61)
  Cargo.lock
  Cargo.toml
  examples/no-timestamp/pixi.lock
  examples/no-timestamp/pixi.toml
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Add package metadata
  Cargo.toml
Due: end-of-file-fixer, taplo

bump version
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

also in ci
  .github/workflows/build.yml
Due: prettier, end-of-file-fixer

Try fix?
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

refactor: Bump rattler, use `PackageRecord::validate` instead of our own implementation
  Cargo.lock
  Cargo.toml
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

update rust
  pixi.lock
  pixi.toml
Due: end-of-file-fixer, taplo

fix test
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

refactor: Bump rattler, use `PackageRecord::validate` instead of our own implementation (#68)
  Cargo.lock
  Cargo.toml
  pixi.lock
  pixi.toml
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

ci: Pin Action versions by SHA
  .github/workflows/build.yml
  .github/workflows/chore.yml
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

ci: Pin Action versions by SHA (#69)
  .github/workflows/build.yml
  .github/workflows/chore.yml
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

feat: support scheme 'file' to process local conda files
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

add integration test
  .gitignore
  examples/local-channel/channel/noarch/my-webserver-0.1.0-pyh4616a5c_0.conda
  examples/local-channel/channel/noarch/repodata.json
  examples/local-channel/pixi.lock.template
  examples/local-channel/pixi.toml.template
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Remove header file from exception in pre-commit.
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  pixi.lock
  src/header.ps1
  src/header.sh
  tests/integration_test.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Remove -f from header files. Added status code to pack.rs error and other minor changes.
  pixi.lock
  src/header.ps1
  src/header.sh
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

add reproducible test for executable script
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

whitespace fix
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Change output_file to optional and add default values
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

run fmt
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

ci: Remove checkout arguments
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

Use bash by default to test
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

replace sed with awk
  src/header.sh
Due: none

ci: Remove checkout arguments (#74)
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

Support two versions of base64
  src/header.sh
Due: none

Minor fix with base64
  src/header.sh
Due: none

test: Use insta to assert reproducibility
  Cargo.lock
  Cargo.toml
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-osx-64.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

add snapshots
  tests/integration_test.rs
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

.
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

add ppc64le to lockfile
  examples/simple-python/pixi.lock
  examples/simple-python/pixi.toml
Due: end-of-file-fixer, taplo

add snapshot
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
Due: end-of-file-fixer

format pixi.toml
  examples/simple-python/pixi.toml
Due: end-of-file-fixer, taplo

use deterministic header mode
  Cargo.lock
  Cargo.toml
  src/pack.rs
  src/util.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

adjust digests
  tests/snapshots/integration_test__sha256-linux-64.snap
  tests/snapshots/integration_test__sha256-linux-aarch64.snap
  tests/snapshots/integration_test__sha256-linux-ppc64le.snap
  tests/snapshots/integration_test__sha256-osx-64.snap
  tests/snapshots/integration_test__sha256-osx-arm64.snap
  tests/snapshots/integration_test__sha256-win-64.snap
Due: end-of-file-fixer

Update tests/integration_test.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Update src/header.ps1
  src/header.ps1
Due: end-of-file-fixer

Update Cargo.toml
  Cargo.toml
Due: end-of-file-fixer, taplo
