Repository Quantco/pixi-pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

prettier:
  name: prettier
  entry: pixi run -e lint prettier --write --list-different --ignore-unknown
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: pixi run -e lint end-of-file-fixer
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: pixi run -e default cargo fmt --
  language: system
  require_serial: false

cargo-clippy:
  name: cargo-clippy
  entry: pixi run -e default cargo clippy --all-targets --all-features --workspace -- -D warnings
  pass_filenames: false
  language: system
  require_serial: false

taplo:
  name: taplo
  entry: pixi run -e lint taplo format
  language: system

Fixed cargo.toml and added support for windows
  build.rs
  extractor/Cargo.toml
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Adding tests
  extractor/Cargo.toml
  extractor/src/main.rs
  pixi.toml
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

refactor: Move unpack log to end of unpack
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

refactor: Move unpack log to end of unpack (#52)
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Fixed merge conflict
  Cargo.lock
  extractor/Cargo.toml
Due: end-of-file-fixer, taplo

Update dependencies
  extractor/Cargo.toml
  extractor/src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

added download to pack
  Cargo.toml
  build.rs
  examples/webserver/my_webserver/__init__.py
  extractor/Cargo.toml
  extractor/src/main.rs
  src/header.sh
  src/pack.rs
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Added windows support
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  src/header.ps1
  src/header.sh
  src/main.rs
  src/pack.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

added tests
  src/header.ps1
  src/main.rs
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

added tests and run fmt
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

remove extra function in unpack
  src/unpack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Remove extractor tests
  examples/webserver/my_webserver/__init__.py
  pixi.toml
Due: end-of-file-fixer, taplo

Update src/header.sh
  src/header.sh
Due: none

Update src/main.rs
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Update tests/integration_test.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: Throw error when package download fails
  examples/auth/pixi.lock
  examples/auth/pixi.toml
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

ci: Remove merge queue from workflows
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

fix: Throw error when package download fails (#55)
  examples/auth/pixi.lock
  examples/auth/pixi.toml
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Add integration test
  Cargo.lock
  Cargo.toml
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

ci: Remove merge queue from workflows (#56)
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: prettier, end-of-file-fixer

Include output directory in iterator to patch mtimes
  src/pack.rs
  src/util.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

fix: Set timestamps correctly inside pack (#43)
  Cargo.lock
  Cargo.toml
  src/pack.rs
  src/util.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

feat: Validate environment after injecting packages
  examples/webserver/my-webserver-0.1.0-pyh4616a5c_0.conda
  examples/webserver/my-webserver-0.1.0-pyh4616a5c_0.tar.bz2
  examples/webserver/recipe/recipe.yaml
  src/pack.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy

Fix clippy
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Add tests
  README.md
  examples/webserver/README.md
  examples/webserver/my-webserver-0.1.0-pyh4616a5c_0.conda
  examples/webserver/my-webserver-broken-0.1.0-pyh4616a5c_0.conda
  examples/webserver/pixi.toml
  examples/webserver/recipe/recipe-broken.yaml
  src/pack.rs
  tests/integration_test.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

Review
  examples/webserver/my-webserver-0.1.0-pyh4616a5c_0.conda
  examples/webserver/my-webserver-0.1.0-pyh4616a5c_0.tar.bz2
  examples/webserver/my-webserver-broken-0.1.0-pyh4616a5c_0.conda
  examples/webserver/recipe/recipe-broken.yaml
  examples/webserver/recipe/recipe.yaml
Due: prettier, end-of-file-fixer

bump version
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

feat: Validate environment after injecting packages (#57)
  Cargo.lock
  Cargo.toml
  README.md
  examples/webserver/README.md
  examples/webserver/my-webserver-0.1.0-pyh4616a5c_0.conda
  examples/webserver/my-webserver-0.1.0-pyh4616a5c_0.tar.bz2
  examples/webserver/my-webserver-broken-0.1.0-pyh4616a5c_0.conda
  examples/webserver/pixi.toml
  examples/webserver/recipe/recipe-broken.yaml
  src/pack.rs
  tests/integration_test.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

chore: Rename local channel to pixi-pack
  README.md
  src/unpack.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy

chore: Rename local channel to pixi-pack (#58)
  README.md
  src/unpack.rs
Due: prettier, end-of-file-fixer, cargo-fmt, cargo-clippy

feat: Add --env-name flag for environment output directory
  src/main.rs
  src/unpack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Bump version to 0.2.1
  Cargo.lock
  Cargo.toml
Due: end-of-file-fixer, taplo

Update Cargo.lock
  Cargo.lock
Due: end-of-file-fixer

Change cli docs
  src/main.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

feat: Add --env-name flag for environment output directory (#59)
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/unpack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

fix: Use default timestamp when no timestamp is provided in package
  Cargo.lock
  Cargo.toml
  examples/no-timestamp/pixi.lock
  examples/no-timestamp/pixi.toml
  src/pack.rs
  tests/integration_test.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy, taplo

don't evaluate fallback on every record
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

pre-commit
  src/pack.rs
Due: end-of-file-fixer, cargo-fmt, cargo-clippy

Path conditions:
  prettier: any of: \.(md|yml|yaml)$, but not: (^env/|.pixi/)
  end-of-file-fixer: any of: not (src/header.sh), but not: (^env/|.pixi/)
  cargo-fmt: any of: \.rs$, but not: (^env/|.pixi/)
  cargo-clippy: any of: \.rs$, but not: (^env/|.pixi/)
  taplo: any of: \.toml$, but not: (^env/|.pixi/)
